@import '../variables';
@import '../mixins';

.block {
  border-radius: $radius-block;
  padding: map-get($sizes, 40);
  box-shadow: $show-block;
  background: $color-withe;
  @include media(lg) {
    padding: map-get($sizes, 32);
  }
}

.container-a {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 420px;

  &::-webkit-scrollbar {
    width: 0;
  }
}
