@import '../mixins';

.button {
  outline: 0;
  border: 0;
  border-radius: 50px;
  padding: 0  $size-28;
  height: $size-48;
  box-shadow: 2px 2px 10px rgba($color-primary, 0.5);
  color: $color-withe;
  background: $color-primary;
  transition: background ease $animate-time;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: $color-primary-hover;
  }

  &:active {
    background: $color-primary-active;
  }

  &:disabled {
    background: rgba($color-primary, 0.5);

    &:hover {
      background: rgba($color-primary, 0.5);
    }
  }
}
