@import '../mixins';

.input {
  outline: 0;
  border: 1px solid $color-gray-light;
  border-radius: $radius-components;
  padding: 0 $size-28;
  width: 100%;
  height: $size-48;
  background: $color-withe;

  &::placeholder {
    color: $color-gray;
  }

  &_errors {
    border: 1px solid $color-primary;
  }
}
